@using MVC_BierenSecurity.Models;
@model Bier
@{
    ViewBag.Title = "ToevoegenForm";
}
<h2>Bier toevoegen</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(b => b.Naam)
    @Html.ValidationMessageFor(b => b.Naam, "*")
    @Html.EditorFor(b => b.Naam)

    @Html.LabelFor(b => b.Alcohol)
    @Html.ValidationMessageFor(b => b.Alcohol, "*")
    @Html.EditorFor(b => b.Alcohol)

    <input type="submit" value="Toevoegen" />
    @Html.ValidationSummary()
}